body{
    background-image: url("images/France\ Header.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    min-height:100%;    
    padding-top: 25px;
    padding-bottom: 20px;
    margin: 0;
    font-family: 'Alata', sans-serif;
}

main{
    margin-left: 20%;
    margin-right: 20%;
    background: #69707a;
    padding: 20px;
    border-style: solid;
    border-color: gainsboro;
    border-width: 5px;
}

#nav-list {
    list-style-type: none;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0px;
    background: #4a664b;
  }
.nav-line {
    float: left;
 }

.nav-line a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
 }

.nav-line a:hover {
    background-color: #404752;
}

h1{
    text-align: center;
    font-size: 30px;
    background-color: #404752;
    color: gainsboro;
    padding: 10px;
    margin: 0;
    border-style: outset;
    border-width: 10px;
}

img{
   width: 100%; 
   object-fit: contain;
}
article{
    padding-top: 30px;
}
a {
    text-decoration: none;
}
button{
    padding: 10px;
    font-size: 15px;
}

#to-top-link{
    text-align: center;
}

#fav-places{
    text-align: center;
    background-color: #404752;
    color: gainsboro;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 20px;
    padding: 20px;
    border-style: outset;
    border-width: 10px;
}

ul{
    list-style-type: none;
}
p{
    margin-left: 5%;
    margin-right: 5%
}